.panel-body a {
    word-break: break-all;
}

.jumbotron {
    text-align: center;
    background-color: #20315A ; 
    color: white;
}

footer {
    position: sticky;
    text-align: center;
    border-top: 2px solid black;
    /*the height of footer, max-height doesn't work*/
}